{
  "arrowParens": "avoid",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]", "\\.css$"],
  "importOrderSeparation": true,
  "jsxSingleQuote": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none"
}
